* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --selected-color: #56666b;
}

body,
html {
    height: 100%;
    width: 100%;
}

@mixin column-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@mixin row-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body {
    font-family: system-ui;
    color: #f0f0f0;
    background: url('./public/background.png');
    background-size: cover;
    background-position: center;
}

.canvas {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;

    .vertical-panel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        height: 90%;
        border-radius: 0.5rem;
        width: 2.5rem;
        @include column-flex;
        background-color: #34393b;
        z-index: 9999;

        .createButtonsContainer {
            height: 15%;
            width: 95%;
            @include column-flex;

            .selectedButton {
                background-color: var(--selected-color);
            }

            .createButton {
                width: 80%;
                cursor: pointer;
                padding: 2px;
                border-radius: 8px;
                transition: all 0.25s ease;

                &:hover {
                    background-color: var(--selected-color);
                }

                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                }
            }
        }

        .layers {
            height: 82%;
            width: 95%;
        }
    }

    .horizontal-panel{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 3.5rem;
        width: 40%;
        background-color: #34393b;
        z-index: 9999;
        border-radius: 1rem 1rem 0 0;
        @include row-flex;

        .editButtons{
            height: 80%;
            padding: 5px 20px;
            transition: all 0.25s ease;
            border-radius: 8px;
            @include row-flex;

            &:hover{
                cursor: pointer;
                background-color: var(--selected-color);
            }

            img{
                height: 60%;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
        }
    }
}